@import '~antd/dist/antd.css';

.App {
  padding: 50px 100px;
}

.title-header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.title-header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.title {
  color: #fff;
  background: #334eae;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
}

#repos-echarts {
  width: 400px;
  height: 300px;
}

.statistics-container {
  display: flex;
}
